body{
    overflow-x:hidden;
}
/* Top Part */
.background{
    background-color: rgba(85, 59, 128, 0.445);
    max-width: 1200px;
    min-height:200px;
    outline-style: solid;
    outline-color: black;
    outline-width: 4px;
    
}
.logocw{
    padding: 20px;
}
.home{
    position: relative; left: 250px; top: -52px;
    background-color: rgba(85, 59, 128, 0.445);
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
}

.home:hover{
    box-shadow: 10px 10px 8px #888888;
    background-color: rgb(83, 173, 83);
    outline-color: black;
}

.about{
    position: relative; left: 250px; top: -52px;
    background-color: rgba(85, 59, 128, 0.445);
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
}

.about:hover{
    box-shadow: 10px 10px 8px #888888;
    background-color: rgb(83, 173, 83);
    outline-color: black;
}

.meet{
    position: relative; left: 250px; top: -52px;
    background-color: rgba(85, 59, 128, 0.445);
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
}

.meet:hover{
    box-shadow: 10px 10px 8px #888888;
    background-color: rgb(83, 173, 83);
    outline-color: black;
}

.logo{
    border: black;
    position: relative; left:15px; top: 15px;
    font-size: 30px;
    color: white;
    min-width:100px;
    display:inline-block;

}

.title{
    position: relative; left: 355px; bottom: 70px;
    display:inline-block;
    font-family: Impact;
    font-size: 50px;
    
}

/* Middle Part */
.setup{
    position: relative; left: 500px; top: 50px;
    background-color: white;
    outline-style: solid;
    outline-color: black;
    outline-width: 4px;
    width: 500px;
    height: 600px;
    display: inline-block;
}

.message{
    position: relative; left: 30px; top: 20px;
    color: black;
    display:inline-block;
    font-weight: bold;
    font-family: 'Lucida Sans';
    font-size: 30px;
}
/*Name*/

.nametext{
    color: black;
    font-weight: bold;
    position: relative; left:10px; top: 50px;
    display:inline-block;
    font-size: 25px;
}

.namebox{
    border: none;
    border-bottom: 2px solid black;
    padding: 12px 20px;
    border-color: grey;
}
.namebox:focus{
    outline: none;
    background-color: lightblue;
}

/* Phone */

.phonetext{
    color: black;
    font-weight: bold;
    position: relative; left:-140px; top: 140px;
    display:inline-block;
    font-size: 25px;
}

.phonebox{
    border: none;
    border-bottom: 2px solid black;
    padding: 12px 20px;
    border-color: grey;
}

.phonebox:focus{
    outline: none;
    background-color: lightblue;
}


/* Location */
.locationtext{
    color: black;
    font-weight: bold;
    position: relative; left:-310px; top: 225px;
    display:inline-block;
    font-size: 25px;
}

.locationbox{
    border: none;
    border-bottom: 2px solid black;
    padding: 12px 20px;
    border-color: grey;
}

.locationbox:focus{
    outline: none;
    background-color: lightblue;
}

/* Button */
.button{
    position: relative; left: 300px; top: 250px;
    background-color: white;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 2px solid rgb(67, 67, 148);
    transition-duration: 0.4s;
}

.button:hover{
    background-color:rgb(119, 119, 228); 
    color:white;
}

/* Bottom */
.owner{
    font-family: Verdana;
    position: relative; left: 500px; top: 150px;
}